.gpt3__cta {
  display: flex;
  flex-direction: row;
  background: var(--gradient-bar);
  padding: 2rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.gpt3__cta-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.gpt3__cta-content h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
}
.gpt3__cta-button button {
  border-radius: 40px;
  color: white;
  background: black;
  padding: 1rem 2rem;
  border: none;
}

@media screen and (max-width: 700px) {
  .gpt3__cta {
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }
}
