.gpt3__footer {
  background: var(--color-footer);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.gpt3__footer-heading {
  text-align: center;
}
.gpt3__footer-heading h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.gpt3__footer-button {
  margin: auto;
}
.gpt3__footer-button button {
  padding: 1rem;
  color: white;
  background: var(--color-footer);
  border-color: white;
  font-size: 18px;
  line-height: 21px;
}
.gpt3__footer-links {
  color: white;
  display: flex;
  justify-content: space-around;
}
.gpt3__footer-links .gpt3__footer-links_logo {
  width: 20%;
}
.gpt3__footer-links .gpt3__footer-links_logo img {
  width: 50%;
}
.gpt3__footer-links .gpt3__footer-links_logo p {
  margin-top: 1rem;
  cursor: pointer;
}
.gpt3__footer-links_div h4 {
  margin-bottom: 1rem;
}
.gpt3__footer-links_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gpt3__footer-copyright {
  color: white;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .gpt3__footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .gpt3__footer-links .gpt3__footer-links_logo {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 660px) {
  .gpt3__footer {
    gap: 3rem;
  }
  .gpt3__footer-heading h1 {
    font-size: 30px;
  }
  .gpt3__footer-button button {
    font-size: 10px;
    padding: 0.5rem;
  }
  .gpt3__footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .gpt3__footer-links .gpt3__footer-links_logo p {
    font-size: 12px;
  }
  .gpt3__footer-links_div p {
    font-size: 12px;
  }
}
